[Desktop Entry]
Type=Application
Name=QuickChar
Exec=quickchar
NoDisplay=true
AutostartCondition=GSettings org.ubuntubudgie.quickchar enable-quickchar
X-MATE-AutoRestart=true
X-GNOME-AutoRestart=true
